@import "tailwindcss";

/* basic body styling */
html,
body {
  margin: 0;
  padding: 0;
  /* font-family: "Inter", sans-serif; */
  /* font-family: "Source Sans Pro", sans-serif; */
  font-family: "Outfit", sans-serif;
  /* background: #0a0a0a; */
  background: #030518;
  /* background: #0f172a; */
  color: #f3f4f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;

}

/* keyframes */
@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes pulse-subtle {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }
}

/* Custom utilities */
@layer utilities {
  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  .animate-pulse-subtle {
    animation: pulse-subtle 2s ease-in-out infinite;
  }

  .star {
    position: absolute;
    border-radius: 9999px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  }
}